#chk-burger{
    display: none;
}
.navigation{
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;
}

.navigation__menu{
    background-color: #5687a9;
    padding: 10px;
}
 

.navigation__menu a {
    display: block;
    text-decoration: none;
    background-color: #ffffff6c;
    padding: 4px;
    margin: 5px;
    color: #fff;
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
}
.navigation__bouton{}

.navigation__menu{
    transform: translateX(120%);
    transition: transform 2s linear;
}

#chk-burger:checked ~ .navigation__menu {
    transform: translateX(0);
}